{% set nextPageLink = nextPageLink is defined ? nextPageLink : null %}

<twig:list:data-list
    :datas="searchIssuesResult.issues"
    :totalDatas="searchIssuesResult.total"
    :nextPageLink="nextPageLink"
>
    {% trans_default_domain 'app' %}

    {% block filterFormRows %}
        {% if filterForm is defined and filterForm is not null %}
            <div class="col-12 col-md-3">
                {{ form_widget(filterForm.query) }}
            </div>
            <div class="col-12 col-md-3">
                {{ form_widget(filterForm.statusesIds) }}
            </div>
            {% if filterForm.assigneeIds is defined %}
                <div class="col-12 col-md-3">
                    {{ form_widget(filterForm.assigneeIds) }}
                </div>
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block tableTh %}
        {% trans_default_domain 'app' %}

        <th class="d-none d-md-table-cell">
            {% include 'components/list/sort-list-header.html.twig' with {
                'label': 'issue.jiraKey.label'|trans,
                'property': 'key',
            } %}
        </th>
        <th>
            {% include 'components/list/sort-list-header.html.twig' with {
                'label': 'issue.summary.label'|trans,
                'property': 'summary',
            } %}
        </th>
        <th class="d-none d-md-table-cell">
            {% include 'components/list/sort-list-header.html.twig' with {
                'label': 'issue.assignee.label'|trans,
                'property': 'assignee',
            } %}
        </th>
        <th class="d-none d-md-table-cell">
            {% include 'components/list/sort-list-header.html.twig' with {
                'label': 'issue.updated.label'|trans,
                'property': 'updated',
            } %}
        </th>
        <th class="d-none d-md-table-cell">
            {% include 'components/list/sort-list-header.html.twig' with {
                'label': 'issue.status.label'|trans,
                'property': 'status',
            } %}
        </th>
        <th class="d-none d-md-table-cell">
            {% include 'components/list/sort-list-header.html.twig' with {
                'label': 'issue.priority.label'|trans,
                'property': 'priority',
            } %}
        </th>
        <th class="min"></th>
    {% endblock %}

    {% block tableTd %}
        {% import "macros/issue.html.twig" as issueMacros %}
        {% set viewLink = path('app_project_issue_view', {'key': current_project.jiraKey, 'keyIssue': object.key}) %}

        <td class="d-none d-md-table-cell" {{ issueMacros.tdClickable(viewLink) }}>{{ object.key }}</td>
        <td {{ issueMacros.tdClickable(viewLink) }}>
            {{ object.fields.summary }}

            <div class="text-muted d-flex flex-column d-md-none gap-2 mt-2">
                {% include 'components/app/issue/assignee.html.twig' with {reporter: object.fields.assignee} %}
                {{ issueMacros.issuePriority(object) }}
                {{ object.fields.updated|date('d/m/Y H:i') }}
                {{ issueMacros.issueStatus(object) }}
            </div>
        </td>
        <td class="d-none d-md-table-cell">{% include 'components/app/issue/assignee.html.twig' with {reporter: object.fields.assignee} %}</td>
        <td class="d-none d-md-table-cell">{{ object.fields.updated|date('d/m/Y H:i') }}</td>
        <td class="d-none d-md-table-cell">{{ issueMacros.issueStatus(object) }}</td>
        <td class="d-none d-md-table-cell">{{ issueMacros.issuePriority(object) }}</td>
        <td>
            <a class="action-icon text-secondary" href="{{ viewLink }}">
                <i class="mdi mdi-eye"></i>
            </a>
        </td>
    {% endblock %}
</twig:list:data-list>
