{% for object in datas %}
    <tr>
        {% import "macros/issue.html.twig" as issueMacros %}
        {% set viewLink = path('app_project_issue_view', {'key': object.fields.project.key, 'keyIssue': object.key}) %}

        <td class="d-none d-md-table-cell issue-link" {{ issueMacros.tdClickable(viewLink) }}>{{ object.key }}</td>
        <td class="issue-link" {{ issueMacros.tdClickable(viewLink) }}>
            {{ object.fields.summary }}

            <div class="text-muted d-flex flex-column d-md-none gap-2 mt-2">
                {% include 'components/app/issue/assignee.html.twig' with {reporter: object.fields.assignee} %}
                {{ issueMacros.issuePriority(object) }}
                {{ object.fields.updated|date('d/m/Y H:i') }}
                {{ issueMacros.issueStatus(object) }}
            </div>
        </td>
        <td class="d-none d-md-table-cell">{% include 'components/app/issue/assignee.html.twig' with {reporter: object.fields.assignee} %}</td>
        <td class="d-none d-md-table-cell">{{ issueMacros.issueStatus(object) }}</td>
        <td class="d-none d-md-table-cell">{{ issueMacros.issuePriority(object) }}</td>
        <td>
            <a class="action-icon text-secondary" href="{{ path('app_project_issue_view', {'key': project.jiraKey, 'keyIssue': object.key}) }}">
                <i class="mdi mdi-eye"></i>
            </a>
        </td>
    </tr>
{% endfor %}
