{% extends 'app/project/issue/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block pageTitle 'issue.label'|trans %}
{% set breadcrumb = [
    {
        label: '#' ~ key,
        href: path('app_project_issue_view', {'key': current_project.jiraKey, 'keyIssue': key}),
    },
    {
        label: 'action.view',
    }
] %}

{% block action %}
    <a href="{{ referer_url() }}" class="btn btn-outline-secondary">
        <i class="mdi mdi-keyboard-return"></i>
        {{ 'action.return'|trans }}
    </a>

    <a href="{{ path('app_project_issue_edit', {'key': current_project.jiraKey, 'keyIssue': issue.key}) }}" class="btn btn-secondary">
        <i class="mdi mdi-pencil"></i>
        {{ 'action.edit'|trans }}
    </a>

    <twig:Turbo:Frame
        id="favorite"
        src="{{ path('app_favorite_stream', {
            'code': app.user.id ~ '-favorite-issue-'~key,
            'projectId': current_project.id,
            'link': absolute_url(path('app_project_issue_view', {'key': current_project.jiraKey, 'keyIssue': key}))|url_encode,
            'name': ' #' ~ key ~ ' - "' ~ issue.fields.summary ~ '"',
        }) }}"
    >
    </twig:Turbo:Frame>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-xxl-8 col-xl-7">

            <twig:app:issue:content
                :issue="issue"
                withActions="true"
            />

            {% if links|length > 0 %}
                <twig:app:issue:linked_issues
                    issues="{{links}}"
                >
            </twig:app:issue:linked_issues>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <h4 class="my-1">{{ 'issue.comment.label'|trans }} (<span class="fst-italic">{{ comments|length }}</span>)</h4>
                </div>
                <div class="card-body">

                    <div class="rounded">
                        {{ form_start(commentForm, {
                            attr: {
                                class: 'comment-area-box',
                            }
                        }) }}
                            {{ form_row(commentForm.comment, {
                                attr: {
                                    class: 'form-control resize-none',
                                    rows: '3',
                                }
                            }) }}
                            {{ form_row(commentForm.attachments) }}

                            <div class="d-flex flex-row justify-content-end">
                                <button type="submit" class="btn btn-sm btn-success"><i class="uil uil-message me-1"></i>{{ 'action.save'|trans }}</button>
                            </div>
                        {{ form_end(commentForm) }}
                    </div>

                    <hr class="my-5">

                    <div {% if focusedCommentId is not null %}{{ stimulus_controller('focus_comment', {focusedCommentId: focusedCommentId}) }}{% endif %}>
                        {% for comment in comments %}
                            <div class="comment--container{% if comment.childs|length > 0 %} comment_answer--container{% endif %}">
                                <twig:app:issue:comment
                                    comment="{{comment}}"
                                    issueKey="{{issue.key}}"
                                >
                                </twig:app:issue:comment>
                                {% for child in comment.childs %}
                                    <twig:app:issue:comment
                                        comment="{{child}}"
                                        issueKey="{{issue.key}}"
                                        child="true"
                                    >
                                    </twig:app:issue:comment>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <twig:Turbo:Frame
            id="issue_view_attachments"
            src="{{ path('app_project_issue_attachments_stream', {'key': current_project.jiraKey, 'keyIssue': issue.key}) }}"
            class="col-xxl-4 col-xl-5"
        >
                {% trans_default_domain 'app' %}

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">{{ 'issue.attachment.label'|trans }}</h5>

                        {% for _ in 1..2 %}
                            <div class="card my-1 shadow-none border">
                                <div class="p-2">
                                    <div class="col align-items-center">
                                        <img src="{{ asset('assets/images/logo/logo.svg', 'app') }}" style="width: 150px" alt="">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col ps-2">
                                                <a href="#" style="cursor: not-allowed;" class="text-muted fw-bold placeholder-wave"><span class="placeholder col-6"></span></a>
                                                <p class="mb-0 text-muted placeholder-wave"><span class="placeholder col-5"></span></p>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" style="cursor: not-allowed;" class="btn btn-link btn-lg text-muted">
                                                    <i class="mdi mdi-eye"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
        </twig:Turbo:Frame>
    </div>
{% endblock %}
