<div class="row">
    <div class="col-md-6">
        {{ form_row(form.summary) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.transition) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.type) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.priority) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.assignee) }}
    </div>
</div>
