{% trans_default_domain 'app' %}

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lastName) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.email) }}
    </div>
    {% if form.plainPassword is defined %}
        <div class="col-md-6">
            {{ form_row(form.plainPassword, {
                row_attr: {
                    class: 'mb-0'
                }
            }) }}
            <p class="fst-italic text-muted">{{ 'user.password.notice'|trans }}</p>
        </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.company) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.projects) }}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {{ form_row(form.roles) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.enabled) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.issueLabels) }}
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.preferredLocale) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.preferredTheme) }}
    </div>
</div>

{% if form.defaultProject is defined %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.defaultProject) }}
        </div>
    </div>
{% endif %}

<h5 class="mt-4 mb-3">{{ 'user.notificationSettings.title'|trans }}</h5>

{% set show_slack = form.vars.data.slackBotToken is defined and form.vars.data.slackBotToken is not null and form.vars.data.slackMemberId is not null %}

<div class="table-responsive">
    <table class="table table-bordered notification-settings">
        <thead>
            <tr>
                <th class="text-center">{{ 'user.notificationSettings.event'|trans }}</th>
                <th class="text-center">{{ 'notificationChannel.in_app'|trans }}</th>
                <th class="text-center">{{ 'notificationChannel.email'|trans }}</th>
                {% if show_slack %}
                    <th class="text-center">{{ 'notificationChannel.slack'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for field_name, label_key in {
                'preferenceNotificationIssueCreated': 'user.preferenceNotificationIssueCreated.label',
                'preferenceNotificationIssueUpdated': 'user.preferenceNotificationIssueUpdated.label',
                'preferenceNotificationCommentCreated': 'user.preferenceNotificationCommentCreated.label',
                'preferenceNotificationCommentUpdated': 'user.preferenceNotificationCommentUpdated.label',
                'preferenceNotificationCommentOnlyOnTag': 'user.preferenceNotificationCommentOnlyOnTag.label'
            } %}
                <tr>
                    <td>{{ label_key|trans }}</td>
                    <td class="text-center">{{ form_widget(form[field_name][0], {label: false}) }}</td>
                    <td class="text-center">{{ form_widget(form[field_name][1], {label: false}) }}</td>
                    {% if show_slack %}
                        <td class="text-center">{{ form_widget(form[field_name][2], {label: false}) }}</td>
                    {% endif %}
                </tr>
                {% do form[field_name].setRendered() %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% if form.slackBotToken is defined %}
    <div class="d-flex align-items-center mt-4 mb-3">
        <h5 class="mb-0">{{ 'user.slack.section_title'|trans }}</h5>

        <button class="btn action-icon btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#slackHelpOffcanvas">
            <i class="ri-question-line"></i>
        </button>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.slackBotToken) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.slackMemberId) }}
        </div>
    </div>

    {% if form.vars.data.slackBotToken is not null and form.vars.data.slackMemberId is not null %}
        <button type="submit" formaction="{{ path('admin_user_test_slack', {id: entity.id}) }}" formmethod="post" class="btn btn-outline-info btn-sm float-end">
            <i class="ri-send-plane-line"></i> {{ 'user.slack.test.button'|trans }}
        </button>
    {% endif %}

    {# Offcanvas - How to setup Slack #}
    <div class="offcanvas offcanvas-end" tabindex="-1" id="slackHelpOffcanvas" aria-labelledby="slackHelpOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 id="slackHelpOffcanvasLabel">{{ 'user.slack.howto.title'|trans }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% for i in 1..6 %}
                <div class="mt-3">
                    <h6>{{ ('user.slack.howto.step' ~ i ~ '.title')|trans }}</h6>
                    <p>{{ ('user.slack.howto.step' ~ i ~ '.description')|trans|raw }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
