{% extends 'admin/user/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block pageTitle 'user.label'|trans %}
{% set breadcrumb = [
    {
        label: 'action.list',
    }
] %}

{% block action %}
    <a href="{{ path('admin_user_create') }}" class="btn btn-success">
        <i class="mdi mdi-plus"></i>
        {{ 'action.create'|trans }}
    </a>
    <a href="{{ path('admin_user_export') }}" class="btn btn-dark">
        <i class="mdi mdi-download"></i>
        {{ 'action.export'|trans }}
    </a>
{% endblock %}

{% block content %}
    <twig:list:list
        :filterFormResetPath="path('admin_user_list')"
        :filterForm="filterForm"
    >
        {% trans_default_domain 'app' %}

        <twig:block name="tableActions">
            {% include 'components/list/per-page.html.twig' with {
                'pagination': pagination,
            } %}
        </twig:block>

        <twig:block name="filterFormRows">
            <div class="col-md-2">
                {{ form_widget(filterForm.query) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(filterForm.projects) }}
            </div>
        </twig:block>

        <twig:block name="tableTh">
            {% trans_default_domain 'app' %}

            <th>
                {% include 'components/list/sort-list-header.html.twig' with {
                    'label': 'user.email.label'|trans,
                    'property': 'email',
                } %}
            </th>
            <th>
                {% include 'components/list/sort-list-header.html.twig' with {
                    'label': 'user.lastName.label'|trans,
                    'property': 'lastName',
                } %}
            </th>
            <th>
                {% include 'components/list/sort-list-header.html.twig' with {
                    'label': 'user.firstName.label'|trans,
                    'property': 'firstName',
                } %}
            </th>
            <th>
                {% include 'components/list/sort-list-header.html.twig' with {
                    'label': 'user.company.label'|trans,
                    'property': 'company',
                } %}
            </th>
            <th>
                {% include 'components/list/sort-list-header.html.twig' with {
                    'label': 'user.enabled.label'|trans,
                    'property': 'enabled',
                } %}
            </th>
            <th>
                {% include 'components/list/sort-list-header.html.twig' with {
                    'label': 'user.lastLogin.label'|trans,
                    'property': 'lastLoginAt',
                } %}
            </th>
            <th>{{ 'user.projects.label'|trans }}</th>
            <th class="min"></th>
        </twig:block>

        <twig:block name="tableTd">
            {% trans_default_domain 'app' %}
            <td>{{ object.email }}</td>
            <td>{{ object.lastName }}</td>
            <td>{{ object.firstName }}</td>
            <td>
                {% if object.company is not null %}
                    {{ object.company }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                <twig:bool data="{{ object.enabled }}"></twig:bool>
            </td>
            <td>
                {{ object.lastLoginAt ? (object.lastLoginAt|date('d/m/Y H:i')) : 'user.lastLogin.never'|trans }}
            </td>
            <td>
                {{ object.projectKeys }}
            </td>
            <td class="d-flex flex-row" data-cancel-redirect>
                <a class="action-icon text-secondary" href="{{ path('admin_user_edit', {id: object.id}) }}">
                    <i class="mdi mdi-pencil"></i>
                </a>

                <a class="action-icon text-secondary" href="{{ path('app_profil', {_switch_user: object.email}) }}">
                    <i class="ri-shield-user-fill"></i>
                </a>

                {% include 'components/modal/delete.html.twig' with {
                    id: object.id,
                    button_link: path('admin_user_delete', {id: object.id}),
                } %}
            </td>
        </twig:block>
    </twig:list:list>
{% endblock %}
