{% extends 'security/layout.html.twig' %}
{% trans_default_domain 'app' %}
{% block title 'security.check_email.label'|trans %}

{% block content %}
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center pb-0 fw-bold">{{ 'security.check_email.label'|trans }}</h4>
        <p class="text-muted mt-2">{{ 'security.check_email.description'|trans({'%expire_link_time%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')})|raw }}</p>
        <p class="text-muted mb-4">{{ 'security.check_email.retry'|trans }}</p>
    </div>


    <div class="mb-3 mb-0 text-center">
        <a href="{{ path('security_forgot_password_request') }}" class="btn btn-primary" type="submit">{{ 'security.check_email.action'|trans }}</a>
    </div>
{% endblock %}
