{% extends 'security/layout.html.twig' %}
{% trans_default_domain 'app' %}
{% block title 'security.reset_password.label'|trans %}

{% block content %}
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center pb-0 fw-bold">{{ 'security.reset_password.label'|trans }}</h4>
    </div>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        <div class="mb-3 mb-0 text-center">
            <button class="btn btn-primary" type="submit">{{ 'security.reset_password.action'|trans }}</button>
        </div>
    {{ form_rest(resetForm) }}
    {{ form_end(resetForm) }}
{% endblock %}
