{% extends 'security/layout.html.twig' %}
{% trans_default_domain 'app' %}
{% block title 'security.reset_password_request.label'|trans %}

{% block content %}
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center pb-0 fw-bold">{{ 'security.reset_password_request.label'|trans }}</h4>
        <p class="text-muted mb-4">{{ 'security.reset_password_request.description'|trans }}</p>
    </div>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <div class="mb-3 mb-0 text-center">
            <button class="btn btn-primary" type="submit">{{ 'security.reset_password_request.action'|trans }}</button>
        </div>
    {{ form_rest(requestForm) }}
    {{ form_end(requestForm) }}
{% endblock %}
