{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title 'security.reset_password.label'|trans %} - {{ 'title.all'|trans }}</title>
    <link rel="icon" href="{{ asset('/build/static/images/logo/favicon.ico') }}">

    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">

                    <div class="card-header pt-2 pb-2 text-center bg-primary">
                        <span><img src="{{ asset('build/static/images/logo/logo.svg') }}" alt="Logo {{ 'title.short'|trans }}" height="74"></span>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">{{ 'security.reset_password.label'|trans }}</h4>
                        </div>

                        {{ form_start(resetForm) }}
                            {{ form_row(resetForm.plainPassword) }}

                            <div class="mb-3 mb-0 text-center">
                                <button class="btn btn-primary" type="submit">{{ 'security.reset_password.action'|trans }}</button>
                            </div>
                        {{ form_rest(resetForm) }}
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-alt">
    2025{% if 'now' | date('Y') != 2025 %}-{{ 'now' | date('Y') }}{% endif%} © {{ 'title.all'|trans }}
</footer>

</body>
</html>
