{% extends 'app/user/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block pageTitle 'profile.view.title'|trans %}
{% set breadcrumb = [
    {
        label: 'profile.label'|trans,
    }
] %}

{% block content %}
    <div class="col-12">
        <div class="card bg-primary">
            <div class="card-body profile-user-box">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="avatar-lg">
                                    <p class="fs-2 text-white fw-bold text-center rounded-circle">{{ app.user.initials }}</p>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    <h4 class="mt-1 mb-1 text-white">{{ app.user.fullName }}</h4>

                                    <ul class="mb-0 list-inline text-light">
                                        <li class="list-inline-item">
                                            <p class="mb-0 mt-2 font-13 text-white-50">{{ 'user.email.label'|trans }}</p>
                                            <h5 class="mb-0 mt-0 text-white">{{ app.user.email }}</h5>
                                        </li>
                                        {% if app.user.company is not null %}
                                        <li class="list-inline-item">
                                            <p class="mb-0 mt-2 font-13 text-white-50">{{ 'user.company.label'|trans }}</p>
                                            <h5 class="mb-0 mt-0 text-white">{{ app.user.company }}</h5>
                                        </li>                                            
                                        {% endif %}
                                        {% if app.user.projects|length > 0 %}
                                        <li class="list-inline-item">
                                            <p class="mb-0 mt-2 font-13 text-white-50">{{ 'project.label'|trans }}</p>
                                            <h5 class="mb-0 mt-0 text-white">{% for project in app.user.projects %}{{ project.name }}{% if false == loop.last %}, {% endif %}{% endfor %}</h5>
                                        </li>                                            
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <twig:form
        form="{{ form }}"
        cancelLink="{{ path('app_profil') }}"
    >
        <twig:block name="content">
            {% include 'app/user/_form_content.html.twig' %}
        </twig:block>
    </twig:form>
{% endblock %}
