{% extends 'email/layout.html.twig' %}
{% trans_default_domain 'email' %}

{% block content %}

    <twig:email:title
        text="{{ 'comment.created.title'|trans({'%project_name%': project.name, '%ticket_name%': issueSummary}) }}"
    />

    <twig:email:text>
        {% block content %}
            {% trans_default_domain 'email' %}

            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center"
                   class="r3-o" style="table-layout: fixed; width: 100%;">
                <tr>
                    <td class="r16-i">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                            <tr>
                                <th width="100%" valign="bottom" class="r12-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o"
                                           style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r7-i" style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                    <tr>
                                                        <td class="r17-c nl2go-default-textstyle" align="left"
                                                            style="color: #414141; font-family: Arial; font-size: 16px; word-break: break-word; line-height: 1; text-align: left; valign: top;">
                                                            <div><p style="margin: 0;"><span
                                                                        style="color: #6b778c;">
                                                                            <a href="{{ absolute_url(path('app_project_view', {key: project.jiraKey})) }}">{{ project.name }}</a>
                                                                        /
                                                                        <a href="{{ absolute_url(path('browse_issue', {keyIssue: issueKey})) }}">{{ issueKey }}</a>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center"
                   class="r3-o" style="table-layout: fixed; width: 100%;">
                <tr>
                    <td class="r16-i">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                            <tr>
                                <th width="100%" valign="top" class="r5-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o"
                                           style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r7-i" style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                    <tr>
                                                        <td class="r17-c nl2go-default-textstyle" align="left"
                                                            style="color: #414141; font-family: Arial; font-size: 16px; word-break: break-word; line-height: 1; text-align: left; valign: top;">
                                                            <div><h2 class="default-heading2"
                                                                     style="margin: 0; color: #414141; font-family: Arial; font-size: 32px; word-break: break-word;">
                                                                    <span style="font-family: Arial; font-size: 24px;">{{ issueSummary }}</span>
                                                                </h2></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center"
                   class="r3-o" style="table-layout: fixed; width: 100%;">
                <tr>
                    <td class="r4-i" style="padding-bottom: 20px; padding-top: 20px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                            <tr>
                                <th width="16.67%" valign="top" class="r5-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o"
                                           style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r18-i" style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                    <tr>
                                                        <td class="r17-c" align="left"
                                                            style="border-radius: 50px; font-size: 0px; line-height: 0px; valign: top;"><img
                                                                src="{{ commentAuthorAvatarUrl }}"
                                                                width="70" border="0" style="display: block; width: 100%; border-radius: 50px;">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                                <th width="83.33%" valign="top" class="r5-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o"
                                           style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r7-i" style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                                    <tr>
                                                        <td class="r19-c nl2go-default-textstyle" align="left"
                                                            style="color: #414141; font-family: Arial; font-size: 16px; word-break: break-word; line-height: 1; text-align: left; valign: top;">
                                                            <div><h4 class="default-heading4"
                                                                     style="margin: 0; color: #1f2d3d; font-family: Arial; font-size: 18px; word-break: break-word;">
                                                                    <span style="font-size: 18px;">{{ commentAuthorName }}</span></h4></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="r20-c" align="left">
                                                            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="446"
                                                                   class="r14-o" style="table-layout: fixed;">
                                                                <tr>
                                                                    <td class="r21-i" style="padding-bottom: 15px; height: 3px;">
                                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                                                               role="presentation">
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                                                                           role="presentation" class="r21-i" height="3"
                                                                                           style="border-top-style: solid; background-clip: border-box; border-top-color: #aaaaaa; border-top-width: 3px; font-size: 3px; line-height: 3px;">
                                                                                        <tr>
                                                                                            <td height="0" style="font-size: 0px; line-height: 0px;">­</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="r13-c" align="left">
                                                            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%"
                                                                   class="r22-o" style="table-layout: fixed; width: 100%;">
                                                                <tr>
                                                                    <td align="left" valign="top" class="r23-i nl2go-default-textstyle"
                                                                        style="color: #414141; font-family: Arial; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left;">
                                                                        <div><p style="margin: 0;">{{ commentBody }}</p></div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="nl2go-responsive-hide">
                                                                    <td height="15" style="font-size: 15px; line-height: 15px;">­</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        {% endblock %}
    </twig:email:text>

{% endblock %}

{% block action %}

    <twig:email:action
        label="{{ 'comment.created.action'|trans }}"
        href="{{ absolute_url(path('browse_issue', {keyIssue: issueKey})) }}"
    />

{% endblock %}
