{% extends 'email/layout.html.twig' %}
{% trans_default_domain 'email' %}

{% block content %}

    <twig:email:title
        text="{{ 'comment.updated.title'|trans }}"
    />

    <twig:email:text>
        {% block content %}
            {% trans_default_domain 'email' %}

            <tr>
                <td class="r16-c nl2go-default-textstyle"
                    align="left"
                    style="color: #414141; font-family: Arial; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; valign: top;">
                    <div>
                        <p style="margin: 0;">
                            {{ 'comment.updated.description'|trans({'%ticket_name%': issueSummary, '%project_name%': project.name})|raw }}
                        </p>
                    </div>
                </td>
            </tr>

            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="r3-o" style="table-layout: fixed; width: 100%;">
                <tr>
                    <td class="r4-i" style="padding-bottom: 20px; padding-top: 20px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0"
                            role="presentation">
                            <tr>
                                <th width="100%" valign="top" class="r5-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0"
                                        role="presentation" width="100%" class="r6-o"
                                        style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r7-i"
                                                style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                    border="0" role="presentation">
                                                    <tr>
                                                        <td class="r17-c" align="center">
                                                            <table width="100%" cellspacing="0"
                                                                cellpadding="0" border="0"
                                                                role="presentation" height="1"
                                                                style="border-top-style: solid; background-clip: border-box; border-top-color: #4A4A4A; border-top-width: 1px; font-size: 1px; line-height: 1px;">
                                                                <tr>
                                                                    <td height="0"
                                                                        style="font-size: 0px; line-height: 0px;">
                                                                        ­</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="r3-o" style="table-layout: fixed; width: 100%;">
                <tr>
                    <td class="r4-i" style="padding-bottom: 20px; padding-top: 20px;">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0"
                            role="presentation">
                            <tr>
                                <th width="25%" valign="top" class="r5-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0"
                                        role="presentation" width="100%" class="r6-o"
                                        style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r18-i"
                                                style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                    border="0" role="presentation">
                                                    <tr>
                                                        <td class="r2-c" align="center">
                                                            <table cellspacing="0" cellpadding="0"
                                                                border="0" role="presentation"
                                                                width="120" class="r19-o"
                                                                style="border-bottom-color: #aaaaaa; border-bottom-width: 3px; border-collapse: separate; border-left-color: #aaaaaa; border-left-width: 3px; border-radius: 400px; border-right-color: #aaaaaa; border-right-width: 3px; border-style: solid; border-top-color: #aaaaaa; border-top-width: 3px; table-layout: fixed; width: 120px;">
                                                                <tr>
                                                                    <td class="r20-i"
                                                                        style="border-radius: 397px; font-size: 0px; line-height: 0px;">
                                                                        <img src="{{ commentAuthorAvatarUrl }}"
                                                                            width="114" border="0"
                                                                            style="display: block; width: 100%; border-radius: 397px;">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                                <th width="75%" valign="top" class="r5-c" style="font-weight: normal;">
                                    <table cellspacing="0" cellpadding="0" border="0"
                                        role="presentation" width="100%" class="r6-o"
                                        style="table-layout: fixed; width: 100%;">
                                        <tr>
                                            <td valign="top" class="r7-i"
                                                style="padding-left: 15px; padding-right: 15px;">
                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                    border="0" role="presentation">
                                                    <tr>
                                                        <td class="r21-c nl2go-default-textstyle"
                                                            align="left"
                                                            style="color: #414141; font-family: Arial; font-size: 16px; word-break: break-word; line-height: 1; text-align: left; valign: top;">
                                                            <div>
                                                                <h3 class="default-heading3"
                                                                    style="margin: 0; color: #1f2d3d; font-family: Arial; font-size: 24px; word-break: break-word;">
                                                                    {{ commentAuthorName }}</h3>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="r22-c" align="left">
                                                            <table cellspacing="0" cellpadding="0"
                                                                border="0" role="presentation"
                                                                width="399" class="r14-o"
                                                                style="table-layout: fixed;">
                                                                <tr>
                                                                    <td class="r23-i"
                                                                        style="padding-bottom: 15px; height: 3px;">
                                                                        <table width="100%"
                                                                            cellspacing="0"
                                                                            cellpadding="0" border="0"
                                                                            role="presentation">
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="100%"
                                                                                        cellspacing="0"
                                                                                        cellpadding="0"
                                                                                        border="0"
                                                                                        role="presentation"
                                                                                        class="r23-i"
                                                                                        height="3"
                                                                                        style="border-top-style: solid; background-clip: border-box; border-top-color: #aaaaaa; border-top-width: 3px; font-size: 3px; line-height: 3px;">
                                                                                        <tr>
                                                                                            <td height="0" style="font-size: 0px; line-height: 0px;">
                                                                                                ­</td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="r13-c" align="left">
                                                            <table cellspacing="0" cellpadding="0"
                                                                border="0" role="presentation"
                                                                width="100%" class="r24-o"
                                                                style="table-layout: fixed; width: 100%;">
                                                                <tr>
                                                                    <td align="left" valign="top"
                                                                        class="r25-i nl2go-default-textstyle"
                                                                        style="color: #414141; font-family: Arial; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left;">
                                                                        <div>
                                                                            <p style="margin: 0;">{{ commentBody }}</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="nl2go-responsive-hide">
                                                                    <td height="15"
                                                                        style="font-size: 15px; line-height: 15px;">
                                                                        ­</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        {% endblock %}
    </twig:email:text>

{% endblock %}

{% block action %}

    <twig:email:action
        label="{{ 'comment.updated.action'|trans }}"
        href="{{ absolute_url(path('app_issue_project_view', {keyProject: project.jiraKey ,keyIssue: issueKey})) }}"
    />

{% endblock %}
