{% extends 'email/layout.html.twig' %}
{% trans_default_domain 'email' %}

{% block content %}

    <twig:email:title
        text="{{ 'issue.edited.title'|trans({'%project_name%': project.name, '%ticket_name%': issueSummary}) }}"
    />

    <twig:email:text>
        {% block content %}
            {% trans_default_domain 'email' %}

            <tr>
                <td class="r16-c nl2go-default-textstyle"
                    align="left"
                    style="color: #414141; font-family: Arial; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; valign: top;">
                    <div>
                        <p style="margin: 0;">
                            {{ 'issue.edited.description'|trans({'%ticket_name%': issueSummary, '%project_name%': project.name})|raw }}
                        </p>
                    </div>
                </td>
            </tr>
            {% if changes.status or changes.assignee or changes.description %}
                <tr>
                    <td class="r16-c nl2go-default-textstyle"
                        align="left"
                        style="color: #414141; font-family: Arial; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; valign: top;">
                        <div>
                            <p style="margin: 0;">
                                {{ 'issue.history.title'|trans }}:
                            </p>
                            <ul>
                                {% for change in changes.status %}
                                    <li>{{ 'issue.status.updated'|trans({'%previous_status%': change.from, '%next_status%': change.to}) }}</li>
                                {% endfor %}
                                {% for change in changes.assignee %}
                                    {% if change.from and change.to %}
                                        <li>{{ 'issue.assignee.updated'|trans({'%previous_assignee%': change.from, '%next_assignee%': change.to}) }}</li>
                                    {% elseif change.from %}
                                        <li>{{ 'issue.assignee.unset'|trans({'%previous_assignee%': change.from}) }}</li>
                                    {% elseif change.to %}
                                        <li>{{ 'issue.assignee.set'|trans({'%next_assignee%': change.to}) }}</li>
                                    {% endif %}
                                {% endfor %}
                                {% for change in changes.description %}
                                    <li>{{ 'issue.description.updated'|trans }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endif %}

        {% endblock %}
    </twig:email:text>

{% endblock %}

{% block action %}

    <twig:email:action
        label="{{ 'issue.edited.action'|trans }}"
        href="{{ absolute_url(path('browse_issue', {keyIssue: issueKey})) }}"
    />

{% endblock %}
