{% extends 'email/layout.html.twig' %}
{% trans_default_domain 'email' %}

{% block title %}{{ 'issue.created.title'|trans({'%project_name%': project.name}) }}{% endblock %}

{% block content %}

    <twig:email:title
        text="{{ 'issue.created.title'|trans({'%project_name%': project.name}) }}"
    />

    <twig:email:text>
        {% block content %}
            {% trans_default_domain 'email' %}

            <tr>
                <td class="r16-c nl2go-default-textstyle"
                    align="left"
                    style="color: #414141; font-family: Arial; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; valign: top;">
                    <div>
                        <p style="margin: 0;">
                            {{ 'issue.created.description'|trans({'%ticket_name%': issueSummary, '%project_name%': project.name})|raw }}
                        </p>
                    </div>
                </td>
            </tr>

        {% endblock %}
    </twig:email:text>

{% endblock %}

{% block action %}

    <twig:email:action
        label="{{ 'issue.created.action'|trans }}"
        href="{{ absolute_url(path('browse_issue', {keyIssue: issueKey})) }}"
    />

{% endblock %}
