{% props comment = null, issueKey = '' %}
{% set commentParseAuthor = comment|parse_comment_author %}

<div class="d-flex mt-3 mb-2" id="{{ comment.id }}">
    <div class="w-100">
        <h5 class="mt-0">
            {% if comment.author is not null and is_jira_account_id(comment.author.accountId) == false %}
                <twig:app:issue:assignee
                    reporter="{{ comment.author }}"
                />
            {% else %}
                <twig:app:issue:assignee
                    reporterName="{{ commentParseAuthor|raw }}"
                />
            {% endif %}

            {% if issueKey != '' %}
                <twig:app:copy
                    url="{{ absolute_url(path('browse_issue', {keyIssue: issueKey, focusedCommentId: comment.id})) }}"
                    :hasSuccessText="true"
                />
            {% endif %}

            <small class="text-muted float-end">
                {{ comment.updated|date('d/m/Y H:i') }}
            </small>
        </h5>
        {{ comment.renderedBody|preview_description|raw }}

        <br>
    </div>
</div>
