{% trans_default_domain 'app' %}
{% props withActions = false, issue = null %}

<div class="card d-block">
    <div class="card-body">
        {% if withActions %}
            <div class="dropdown card-widgets">
                <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="uil uil-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="{{ path('app_project_issue_edit', {'key': issue.fields.project.key, 'keyIssue': issue.key}) }}" class="dropdown-item">
                        <i class="mdi mdi-pencil me-1"></i>{{ 'action.edit'|trans }}
                    </a>

                    <div class="dropdown-divider"></div>

                    {% for transition in issue.transitions %}
                        <form action="{{ path('app_project_issue_transition_to', {'key': issue.fields.project.key, 'issueId': issue.id, 'transitionId': transition.id}) }}" method="POST">
                            <button type="submit" class="dropdown-item status-{{ transition.to.statusCategory.colorName }}">
                                {{ 'issue.transition.to'|trans }} "{{ transition.name }}"
                            </button>
                        </form>
                    {% endfor %}
                </div>
            </div>

            <div class="clearfix"></div>
        {% endif %}

        <div class="d-flex flex-row align-items-center justify-content-start">
            <img src="{{ issue.fields.issuetype.iconUrl }}" alt="{{ issue.fields.issuetype.description }}" style="width: 25px;">
            <h3 class="ms-1">{{ issue.fields.summary }}</h3>

            <twig:app:copy
                :hasSuccessText="true"
            />
        </div>

        <div class="d-flex flex-column flex-md-row flex-wrap w-100 col-12">

            <div class="col-3">
                <p class="mt-2 mb-1 text-muted fw-bold font-12 text-uppercase">{{ 'issue.jiraKey.label'|trans }}</p>
                <div class="d-flex">{{ issue.key }}</div>
            </div>

            <div class="col-3">
                <p class="mt-2 mb-1 text-muted fw-bold font-12 text-uppercase">{{ 'issue.assignee.label'|trans }}</p>
                <div class="d-flex">
                    <twig:app:issue:assignee
                        reporter="{{ issue.fields.assignee }}"
                    />
                </div>
            </div>

            <div class="col-3">
                <p class="mt-2 mb-1 text-muted fw-bold font-12 text-uppercase">{{ 'issue.status.label'|trans }}</p>
                <div class="badge status-{{ issue.fields.status.statuscategory.colorName }}">
                    <p class="m-0 p-1 font-14">
                        {{ issue.fields.status.name }}
                    </p>
                </div>
            </div>

            <div class="col-3">
                <p class="mt-2 mb-1 text-muted fw-bold font-12 text-uppercase">{{ 'issue.priority.label'|trans }}</p>
                <div class="d-flex align-items-center gap-1">
                    <img src="{{ issue.fields.priority.iconUrl }}" class="priority-icon" alt="{{ issue.fields.priority.id }}">
                    <div>
                        <h5 class="mt-1 font-14">
                            {{ issue.fields.priority.name }}
                        </h5>
                    </div>
                </div>
            </div>

            {% if issue.fields.timeoriginalestimate.scalar is defined and issue.fields.timeoriginalestimate.scalar is not null and issue.fields.timeoriginalestimate.scalar != 0 %}
                <div class="col-3">
                    <p class="mt-2 mb-1 text-muted fw-bold font-12 text-uppercase">{{ 'issue.timeestimate.label'|trans }}</p>
                    <div class="d-flex align-items-center gap-1">
                        <div>
                            <h5 class="mt-1 font-14">
                                {{ issue.fields.timeoriginalestimate.scalar|issue_time_estimate_in_hour }}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        {% if issue.renderedFields.description is not empty %}
            <h5 class="mt-3">{{ 'issue.description.label'|trans }}</h5>

            <div>
                {{ issue.renderedFields.description|preview_description|raw }}
            </div>
        {% endif %}

    </div>

</div>
