{% import "macros/issue.html.twig" as issueMacros %}

{% trans_default_domain 'app' %}


                <twig:list:data-list
                    :datas="links"
                >
                    {% trans_default_domain 'app' %}

                    {% block header %}
                        <h3>{{ 'issue.links.label'|trans }}</h3>
                    {% endblock %}
                    {% block tableTd %}
                        {% set viewLink = path('browse_issue', {'keyIssue': issue.key}) %}
                        {% import "macros/issue.html.twig" as issueMacros %}
                        <td>{{ object.type }}</td>
                        <td {{ issueMacros.tdClickable(viewLink) }}>
                            <img src="{{ object.issue.fields.issuetype.iconUrl }}" alt="{{ object.issue.fields.issuetype.description }}" style="width: 12px;">
                            {{ object.issue.key }}
                            {{ object.issue.fields.summary }}
                        </td>
                        <td class="text-end">
                            <img src="{{ object.issue.fields.priority.iconUrl }}" class="priority-icon" alt="{{ object.issue.fields.priority.id }}">
                            <div class="d-inline-block m-1">

                            </div>
                            {{ issueMacros.issueStatus(object.issue) }}
                        </td>
                    {% endblock %}
                </twig:list:data-list>
