{% macro issueStatus(issue) %}
    <div class="badge status-{{ issue.fields.status.statuscategory.colorName }}">
        <p class="m-0 p-1 font-14">{{ issue.fields.status.name }}</p>
    </div>
{% endmacro %}

{% macro issuePriority(issue) %}
    <div class="d-flex align-items-center gap-1">
        <img src="{{ issue.fields.priority.iconUrl }}" class="priority-icon" alt="{{ issue.fields.priority.id }}">
        <h5 class="mt-1 font-14">{{ issue.fields.priority.name }}</h5>
    </div>
{% endmacro %}

{% macro tdClickable(link) %}
onclick="location.href='{{ link }}'"
{% endmacro %}
