{% extends 'admin/issue_label/base.html.twig' %}

{% trans_default_domain 'app' %}

{% block pageTitle 'issueLabel.label'|trans %}
{% set breadcrumb = [
    {
        label: 'action.list',
    }
] %}

{% block action %}
    <a href="{{ path('admin_issue_label_create') }}" class="btn btn-success">
        <i class="mdi mdi-plus"></i>
        {{ 'action.create'|trans }}
    </a>
{% endblock %}

{% block content %}
    <twig:list:list
        :filterFormResetPath="path('admin_issue_label_list')"
        :filterForm="filterForm"
    >
        {% trans_default_domain 'app' %}

        <twig:block name="filterFormRows">
            <div class="col-md-3">
                {{ form_widget(filterForm.query) }}
            </div>
        </twig:block>

        {% block tableTh %}
            {% trans_default_domain 'app' %}
            <th>{{ 'issueLabel.name.label'|trans }}</th>
            <th>{{ 'issueLabel.jiraLabel.label'|trans }}</th>
            <th class="min"></th>
        {% endblock %}

        {% block tableTd %}
            {% trans_default_domain 'app' %}
            <td>{{ object.name }}</td>
            <td>{{ object.jiraLabel }}</td>
            <td class="d-flex flex-row" data-cancel-redirect>
                <a class="action-icon text-secondary" href="{{ path('admin_issue_label_edit', {id: object.id}) }}">
                    <i class="mdi mdi-pencil"></i>
                </a>
            </td>
        {% endblock %}

        <twig:block name="pagination">
            {% trans_default_domain 'app' %}
            <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-start align-items-md-center">
                <div class="d-flex align-items-center">
                    <p class="mb-0 h-25">
                        {% if pagination.count == 0 %}
                            {{ 'list.pagination.empty'|trans }}
                        {% else %}
                            {{ 'list.pagination.total'|trans({'%number%': pagination.count}) }}
                        {% endif %}

                    </p>
                    {% include 'components/list/per-page.html.twig' with {
                        'pagination': pagination,
                    } %}
                </div>

                <div class="pagerfanta mt-4 pagination">
                    {{ pagerfanta(pagination) }}
                </div>
            </div>
        </twig:block>
    </twig:list:list>
{% endblock %}
