{% trans_default_domain 'app' %}
{% props datas = [], totalDatas = null, nextPageLink = null, hasNumberResult = true %}

<div class="row" {% block container_attributes '' %}>
    <div class="col-12">
        {% block formFilter %}
            {% if filterForm is defined and filterForm is not none %}
                <div class="card mb-3">
                    <div class="card-body">
                        {{ form_start(filterForm, {attr: {
                            class: 'row form-inline',
                        }}) }}
                        <div class="d-flex flex-column flex-md-row align-items-start align-items-md-end gap-md-4">
                            {% block filterFormRows '' %}

                            {{ form_rest(filterForm) }}
                            <div class="col-md-2 mb-3">
                                <div class="btn-group">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="ri-search-line"></i>
                                        {{ 'action.filter'|trans }}
                                    </button>
                                    <a title="Reset" href="{i{ filterFormResetPath }}" class="btn btn-light">
                                        <i class="mdi mdi-window-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{ form_end(filterForm) }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        <div class="card">
            <div class="card-header">
                {% block header %}
                    
                {% endblock %}
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    {% if datas|length == 0 %}
                        <div class="alert alert-warning text-center" role="alert">
                            {{ 'list.pagination.empty'|trans }}
                        </div>
                    {% else %}
                        <table id="table-crud" class="table table-centered table-striped">
                            <thead>
                            <tr>
                                {% block tableTh '' %}
                            </tr>
                            </thead>

                            <tbody {% block tbody_attributes '' %}>
                                {% block tableTb %}
                                    {% for object in datas %}
                                        <tr>
                                            {% block tableTd '' %}
                                        </tr>
                                    {% endfor %}
                                {% endblock %}
                            </tbody>
                        </table>

                        <div class="d-flex flex-column flex-md-row justify-content-start justify-content-md-between align-items-start align-items-md-center">
                            <p class="mb-0 h-25">
                                {% if hasNumberResult %}
                                    {% if datas|length == 0 %}
                                        {{ 'list.pagination.empty'|trans }}
                                    {% elseif totalDatas is not null %}
                                        {{ 'list.pagination.total'|trans({'%number%': totalDatas}) }}
                                    {% endif %}                                    
                                {% endif %}
                            </p>

                            {% block pagination %}
                                {% if nextPageLink is defined and nextPageLink is not null %}
                                    <div class="pagerfanta mt-4 pagination">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="{{ nextPageLink }}" rel="next">{{ 'action.next'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
