{% trans_default_domain 'app' %}
{% set choices = [5, 10, 15, 20] %}
{% set query_parameters = app.request.query.all %}

<div class="mx-1">
  {% set selectEltId = 'per_page' %}
  <select class="form-select" name="per-page" id="per_page" {{ stimulus_controller('pagination_choice_per_page', {selectEltId}) }} {{ stimulus_target('pagination_choice_per_page', 'select') }}>
    {% for choice in choices %}
      {% set query_parameters = query_parameters|merge({perPage: choice})|merge(app.request.attributes.get('_route_params')) %}
      {% set updated_url = path(app.request.attributes.get('_route'), query_parameters) %}
      <option data-url="{{ updated_url }}" value="{{ choice }}"{{ pagination.maxPerPage == choice ? ' selected' : '' }}>{{ choice }}</option>
    {% endfor %}
  </select>
</div>
<span>{{ 'list.pagination.perPage'|trans }}</span>
