<twig:Turbo:Stream:Replace
    target="#project_board_view"
>
    {% trans_default_domain 'app' %}
    {% set columnsNames = [] %}
    {% for columnName , columnValues in kanbanIssues %}
        {% set columnsNames = columnsNames|merge([columnName|lower|u.ascii|u.replace(' ', '-')]) %}
    {% endfor %}
    {% set query_parameters = app.request.query.all %}
    <div>
        {% for assignee in assignees %}
            {% set query_parameters = query_parameters|merge({assignee: assignee.accountId})|merge(app.request.attributes.get('_route_params')) %}
            <a href="{{ path('app_project_board_view', query_parameters) }}">
                {% if assignee.avatarUrls is not null %}
                    <img title="{{ assignee.displayName }}" src="{{ assignee.avatarUrls|first }}" alt="user-img" class="avatar-xs rounded-circle me-1">
                {% else %}
                    <img title="{{ assignee.displayName }}" src="{{ asset('build/static/images/people.svg') }}" alt="user-img" class="avatar-xs rounded-circle me-1" height="15">
                {% endif %}
            </a>
        {% endfor %}
    </div>

    <div class="board">
        {% for columnName , columnValues in kanbanIssues %}
            <div class="tasks" {% if loop.first and is_granted('ROLE_APP_KANBAN') %}{{ stimulus_controller('kanban', {columns: columnsNames|json_encode, selectInputTitle: 'project.kanban.selectTransition.title'|trans}) }}{% endif %}>
                <h5 class="mt-0 task-header text-uppercase">{{ columnName }} (<span class="fst-italic">{{ columnValues.issues|length }}</span>)</h5>

                <div id="{{ columnName|lower|u.ascii|u.replace(' ', '-') }}" data-kanban-transition-ids='{{ columnValues.transitionIds|json_encode|e('html_attr') }}' class="task-list-items">

                    {% for issue in columnValues.issues %}
                        <twig:app:kanban:item_card
                            :issue="issue"
                            :project="current_project"
                        />
                    {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
</twig:Turbo:Stream:Replace>
