<twig:Turbo:Stream:Replace
    target="#project_board_view"
>
    {% trans_default_domain 'app' %}
    {% set columnsNames = [] %}
    {% for columnName , columnValues in kanbanIssues %}
        {% set columnsNames = columnsNames|merge([columnName|lower|u.ascii|u.replace(' ', '-')]) %}
    {% endfor %}

    <div class="board">
        {% for columnName , columnValues in kanbanIssues %}
            <div class="tasks" {% if loop.first and is_granted('ROLE_APP_KANBAN') %}{{ stimulus_controller('kanban', {columns: columnsNames|json_encode, selectInputTitle: 'project.kanban.selectTransition.title'|trans}) }}{% endif %}>
                <h5 class="mt-0 task-header text-uppercase">{{ columnName }} (<span class="fst-italic">{{ columnValues.issues|length }}</span>)</h5>

                <div id="{{ columnName|lower|u.ascii|u.replace(' ', '-') }}" data-kanban-transition-ids='{{ columnValues.transitionIds|json_encode|e('html_attr') }}' class="task-list-items">

                    {% for issue in columnValues.issues %}
                        <twig:app:kanban:item_card
                            :issue="issue"
                            :project="current_project"
                        />
                    {% endfor %}

                </div>
            </div>
        {% endfor %}
    </div>
</twig:Turbo:Stream:Replace>
