{% extends 'app/project/base.html.twig' %}
{% trans_default_domain 'app' %}

{% block pageTitle 'project.board.label'|trans ~ ' ' ~ entity.name %}
{% set breadcrumb = [
    {
        label: entity.name,
        href: path('app_project_view', {key: entity.jiraKey}),
    },
    {
        label: 'project.board.label'
    },
    {
        label: 'action.view',
    }
] %}

{% block action %}
    <a href="{{ referer_url() }}" class="btn btn-outline-secondary">
        <i class="mdi mdi-keyboard-return"></i>
        {{ 'action.return'|trans }}
    </a>

    <a href="{{ path('app_project_issue_create', {key: entity.jiraKey}) }}" class="btn btn-success">
        <i class="mdi mdi-plus"></i>
        {{ 'issue.action.create'|trans }}
    </a>

    <twig:Turbo:Frame
        id="favorite"
        src="{{ path('app_favorite_stream', {
            'code': app.user.id ~ '-favorite-project-'~entity.jiraKey~'-board-'~boardId,
            'projectId': current_project.id,
            'link': absolute_url(path('app_project_board_view', {'key': entity.jiraKey, idBoard: boardId}))|url_encode,
            'name': 'project.board.label'|trans ~ ' ' ~ entity.name,
        }) }}"
    >
    </twig:Turbo:Frame>
{% endblock %}

{% block content %}

    <div class="row">
        <twig:Turbo:Frame
            id="project_board_view"
            src="{{ path('app_project_board_view_stream', {'key': entity.jiraKey, 'idBoard': boardId}) }}"
        >
            <div class="board">

                {% for _ in 1..5 %}
                    <div class="tasks">
                        <h5 class="mt-0 task-header text-uppercase placeholder-wave">
                            <span class="placeholder col-5"></span>
                            (<span class="fst-italic placeholder col-2"></span>)
                        </h5>

                        <div class="task-list-items">

                            {% for _ in 1..random(2,5) %}
                                <div class="card mb-0">
                                    <div class="card-body p-3">
                                        <p class="badge text-bg-secondary placeholder-wave"><span class="placeholder col-5"></span></p>

                                        <h5 class="mt-2 mb-2 placeholder-wave">
                                            <span class="placeholder col-8"></span>
                                        </h5>

                                        <p class="mb-1">
                                            <p class="pe-2 text-nowrap text-muted mb-2 d-inline-block placeholder-wave">
                                                <i class="mdi mdi-briefcase-outline text-muted"></i>
                                                <span class="placeholder col-12"></span>
                                            </p>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}

            </div>
        </twig:Turbo:Frame>
    </div>

{% endblock %}
