{% extends 'bootstrap_5_layout.html.twig' %}

{% block tiptap_adf_widget %}
  {% apply spaceless %}
    <div class="tiptap-editor-container"
      {{ stimulus_controller('tiptap_adf', {
        issueKey: issue_key|default(''),
        uploadUrl: issue_key is not empty ? path('app_project_issue_upload_image', {key: issue_key|split('-')[0], issueKey: issue_key}) : '',
        initialAdf: initial_adf|default(''),
        attachmentMap: attachment_map|default('{}'),
      }) }}
      data-id="{{ id }}"
    >
      <div {{ stimulus_target('tiptap_adf', 'editor') }}></div>
      <input type="hidden" {{ block('widget_attributes') }} value="{{ value }}" {{ stimulus_target('tiptap_adf', 'input') }}/>
    </div>
  {% endapply %}
{% endblock tiptap_adf_widget %}

{% block _query_widget %}
  <div class="input-group" {{ stimulus_controller('search-query', {
    'emptyQueryOnly': app.request.query.all is empty,
  }) }}>
    {{ form_widget(form, {attr: {
      'data-action': 'search-query#change',
      'data-search-query-target': 'queryInput',
    }}) }}
    <a href="{{ current_path() }}"
      {{ stimulus_action('search-query', 'empty') }}
      {{ stimulus_target('search-query', 'cancelLink') }}
    >
      <span class="mdi mdi-close close-icon"></span>
    </a>
    <button class="input-group-text btn btn-primary" type="submit">
      <span class="mdi mdi-magnify"></span>
    </button>
  </div>
{% endblock _query_widget %}

{% block widget_container_attributes %}
  {{ parent() }} class="row"
{% endblock widget_container_attributes %}
