{% trans_default_domain 'app' %}
{% set currentRoute = app.request.attributes.get('_route') %}

<div class="leftside-menu menuitem-active">

    <!-- Brand Logo Light -->
    <a href="{{ path('app_project_select') }}" class="logo logo-light pt-4">
        <span class="logo-lg">
            <img class="p-0" src="{{ asset('/build/static/images/logo/logo.svg') }}" style="height: 60px" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="{{ asset('/build/static/images/logo/icon.svg') }}" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="{{ path('app_project_select') }}" class="logo logo-dark pt-4">
        <span class="logo-lg">
            <img class="p-0" src="{{ asset('/build/static/images/logo/logo-dark.svg') }}" style="height: 60px" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="{{ asset('/build/static/images/logo/icon.svg') }}" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Show Full Sidebar" data-bs-original-title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -->
    <div class="h-100 show simplebar-scrollable-y" id="leftside-menu-container" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
{#                            <!-- Leftbar User -->#}
                            {% if current_project is defined %}
                            <div class="leftbar-user">
                                <p class="leftbar-user-name">{{ current_project.name }}</p>
                            </div>
                            {% endif %}

                            <!--- Sidemenu -->
                            <ul class="side-nav mt-1">

                                {% if current_project is defined %}

                                    <twig:nav:section-title
                                        trans="sidebar.categories.project"
                                        role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                    />

                                    <twig:nav:item-single
                                        path="app_project_view"
                                        trans="{{ current_project.name }}"
                                        icon="uil-briefcase"
                                        href="{{ path('app_project_view', {'key': current_project.jiraKey}) }}"
                                        role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                    />

                                    <twig:nav:item-single
                                        path="app_project_issue"
                                        trans="issue.label"
                                        icon="uil-clipboard-alt"
                                        href="{{ path('app_project_issue_list', {'key': current_project.jiraKey}) }}"
                                        role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                    />

                                {% endif %}

                                {% if app.user.favorites.count > 0 %}
                                    <twig:nav:section-title
                                            trans="sidebar.categories.favorites"
                                            role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                    />

                                    {% for favorite in app.user.favorites %}
                                        <twig:nav:item-single
                                            path="#"
                                            icon="mdi mdi-heart"
                                            trans="{{ favorite.name }}"
                                            href="{{ favorite.link }}"
                                            role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                        />
                                    {% endfor %}

                                {% endif %}

                                <twig:nav:section-title
                                    trans="sidebar.categories.navigation"
                                    role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                />

                                {% set userProjects = [] %}
                                {% for project in app.user.projects %}
                                    {% set userProjects = [
                                        {
                                            path: '#',
                                            href: path('app_project_view', {'key': project.jiraKey}),
                                            trans: project.name,
                                        }
                                    ]|merge(userProjects) %}
                                {% endfor %}
                                <twig:nav:item-group
                                    path="app_project_select"
                                    firstLevelTrans="project.label"
                                    icon="uil-briefcase"
                                    role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                    collapse="false"
                                    secondLevel="{{ userProjects }}"
                                />

                                <twig:nav:item-single
                                    path="app_profil"
                                    trans="profile.label"
                                    icon="mdi mdi-account-circle"
                                    href="{{ path('app_profil') }}"
                                    role="{{ constant('App\\Enum\\User\\Role::ROLE_USER') }}"
                                />

                                <twig:nav:item-single
                                    path="#"
                                    trans="dashboard.admin"
                                    icon="uil-briefcase"
                                    href="{{ path('admin_dashboard') }}"
                                    role="{{ constant('App\\Enum\\User\\Role::ROLE_ADMIN') }}"
                                />

                            </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 260px; height: 1875px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar" style="height: 716px; transform: translate3d(0px, 192px, 0px); display: block;"></div>
        </div>
    </div>
</div>
